body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(223, 216, 216);
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;


}

.btn {
  width: 150px;
  height: 150px;
  color: whitesmoke;
  background-color: #001219;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  grid-area: 3/3/4/4;
}

.btn:hover {
  filter: opacity(.7)
}