.app{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.card-wrapper{
  display: flex;

  flex-wrap: wrap;
  width: 400px;
}
.color-card{
  width: 200px;
  height: 200px;
 
}
.red{
  background-color: red;
}
.red.flash{
  background-color: rgb(255, 125, 125);
}
.yellow{
  background-color: rgb(255, 255, 0);
}
.yellow.flash{
  background-color: rgb(255,255,125);
}
.green{
  background-color: green;
}
.green.flash{
  background-color: rgb(125,255,125);
}

.blue{
  background-color: blue;
}
.blue.flash{
  background-color: rgb(125,125,255);
}
.start-button {
  position: absolute;
  width: 100px;
  padding: 20px 10px;
}
.score {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
  line-height: 100px;
  font-size: 50px;
  color: white;
}
.lost {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: black;
  border-radius: 50%;
  line-height: 100px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}